---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/100?api_key=--PRIVATE--&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 6f4c2280f4a0a7993e5dfaea76a290f45af97d9d
      X-Memc-Age:
      - '12118'
      X-Memc-Expires:
      - '9482'
      Etag:
      - W/"e1cc96ff35487213b9e79a826e5ccec6"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/tY6zVyt0OubPgCapbXFJLKhQqSu.jpg","belongs_to_collection":null,"budget":1350000,"genres":[{"id":35,"name":"Comedy"},{"id":80,"name":"Crime"}],"homepage":"http://www.universalstudiosentertainment.com/lock-stock-and-two-smoking-barrels/","id":100,"imdb_id":"tt0120735","original_language":"en","original_title":"Lock,
        Stock and Two Smoking Barrels","overview":"A card shark and his unwillingly-enlisted
        friends need to make a lot of cash quick after losing a sketchy poker match.
        To do this they decide to pull a heist on a small-time gang who happen to
        be operating out of the flat next door.","popularity":8.275,"poster_path":"/8kSerJrhrJWKLk1LViesGcnrUPE.jpg","production_companies":[{"id":491,"logo_path":"/rUp0lLKa1pr4UsPm8fgzmnNGxtq.png","name":"Summit
        Entertainment","origin_country":"US"},{"id":21920,"logo_path":null,"name":"The
        Steve Tisch Company","origin_country":""},{"id":13419,"logo_path":null,"name":"SKA
        Films","origin_country":""},{"id":1382,"logo_path":"/sOg7LGESPH5vCTOIdbMhLuypoLL.png","name":"PolyGram
        Filmed Entertainment","origin_country":"US"},{"id":20076,"logo_path":"/i9qXGJIP9fGN22PP5jXUVENbyHi.png","name":"HandMade
        Films","origin_country":"GB"}],"production_countries":[{"iso_3166_1":"GB","name":"United
        Kingdom"}],"release_date":"1998-03-05","revenue":28356188,"runtime":105,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"A
        Disgrace to Criminals Everywhere.","title":"Lock, Stock and Two Smoking Barrels","video":false,"vote_average":8.2,"vote_count":4718}'
  recorded_at: Thu, 01 Apr 2021 00:30:01 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/100/reviews?api_key=--PRIVATE--&language=en-US&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - e8528306e5473cd985bb4ac12e70f32fdcb3d66a
      X-Memc-Age:
      - '14637'
      X-Memc-Expires:
      - '6963'
      Etag:
      - W/"11e92ebf84c36de84896c5a79416721d"
    body:
      encoding: ASCII-8BIT
      string: '{"id":100,"page":1,"results":[{"author":"BradFlix","author_details":{"name":"","username":"BradFlix","avatar_path":null,"rating":null},"content":"I
        just plain love this movie!","created_at":"2013-12-01T23:11:51.416Z","id":"529bc23719c2957215011e7b","updated_at":"2013-12-02T07:43:56.302Z","url":"https://www.themoviedb.org/review/529bc23719c2957215011e7b"},{"author":"Andres
        Gomez","author_details":{"name":"Andres Gomez","username":"tanty","avatar_path":"/https://secure.gravatar.com/avatar/03a53cd53b8254fe582d4fe1acc26c4e.jpg","rating":3.0},"content":"Far
        from being a good movie, with tons of flaws but already pointing to the pattern
        of the whole Ritchie''s filmography.","created_at":"2014-04-24T00:11:47.766Z","id":"535856c30e0a26069400064c","updated_at":"2014-04-24T02:37:06.854Z","url":"https://www.themoviedb.org/review/535856c30e0a26069400064c"},{"author":"David
        Perkins","author_details":{"name":"David Perkins","username":"Prkns","avatar_path":"/https://secure.gravatar.com/avatar/a37c204421ae6672ffec79b616e6f1c0.jpg","rating":9.0},"content":"Genuinely
        one of my favorite movies of all time. Watched again recently and realised
        how well written, brilliantly shot, beautifully cast and cleverly produced
        this movie actually is!","created_at":"2017-01-09T12:24:47.234Z","id":"5873810f9251410e71009a68","updated_at":"2017-01-09T14:11:51.288Z","url":"https://www.themoviedb.org/review/5873810f9251410e71009a68"}],"total_pages":1,"total_results":3}'
  recorded_at: Thu, 01 Apr 2021 00:30:01 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/100/credits?api_key=--PRIVATE--&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - c41ce48095c7537b31baa5d45023f7d60a0f8887
      X-Memc-Age:
      - '3751'
      X-Memc-Expires:
      - '17849'
      Etag:
      - W/"1aceb25536a64541b241f1d48789706f"
    body:
      encoding: ASCII-8BIT
      string: '{"id":100,"cast":[{"adult":false,"gender":2,"id":973,"known_for_department":"Acting","name":"Jason
        Flemyng","original_name":"Jason Flemyng","popularity":10.931,"profile_path":"/6E5KfjDwm00jIfN3LNLL9jZAvx3.jpg","cast_id":12,"character":"Tom","credit_id":"52fe4217c3a36847f80035fb","order":0},{"adult":false,"gender":2,"id":974,"known_for_department":"Acting","name":"Dexter
        Fletcher","original_name":"Dexter Fletcher","popularity":1.815,"profile_path":"/yRI8MDB5sg8b8EZkzFz5cCBrnKL.jpg","cast_id":13,"character":"Soap","credit_id":"52fe4217c3a36847f80035ff","order":1},{"adult":false,"gender":2,"id":975,"known_for_department":"Acting","name":"Nick
        Moran","original_name":"Nick Moran","popularity":3.518,"profile_path":"/cwqrMbCE9ABFK8NhnK2DypEozr1.jpg","cast_id":14,"chara[...]
